.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-family: "Red Hat Display", sans-serif;
    background-color: hsl(225, 100%, 94%);
}

p{
    font-size: 16px;
}

.container{
    width:30%;
    height:fit-content;
    background-color:hsl(225, 100%, 98%);
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border-radius: 25px;
}

span{
    font-weight: bold;
}

img{
    width:100%;
    border-radius: 25px 25px 0 0;
}

h2,p{
    text-align: center;
}

.plan {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute space between items */
    background-color: hsl(225, 100%, 94%);
    width:98%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
}

.icon {
    display: flex;
    align-items: center; /* Center the icon vertically */
    margin-left: 85px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.plan-text {
    flex: 2; /* Allow more space for the text */
    text-align: center; /* Center text horizontally if needed */
    margin-left: 3px;
    margin-right:130px;
}

.change {
    flex: 1; /* Flex grow to make it take available space */
    text-align: center; /* Center text horizontally */
    margin-right:50px;
}

.buttons{
    width:98%;
    border-radius: 25px;
    margin-left:auto;
    margin-right:auto;
}

.proceed{
    background-color: hsl(245, 75%, 52%);
    text-align: center;
    color:white;
    border-radius: 5px;
}

.cancel{
    background-color: azure;
    text-align: center;
    color:black;
    border-radius: 5px;
}

.proceed p, .cancel p{
    padding:10px;
    font-weight: bold;
}